<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Le's Bookstore</title>

	<!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link th:href="@{/css/style.css}" rel="stylesheet" />

	<!-- Header styles for this template -->
	<link th:href="@{/css/header.css}" rel="stylesheet" />

	<link rel="icon" th:href="@{/image/applie-touch-icon.png}" />

</head>

<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Admin Portal</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#"
							   class="dropdown-toggle"
							   data-toggle="dropdown" role="button" aria-haspopup="true"
							   aria-expanded="false"
							>
							Book
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/book/add}">Add a new book</a></li>
								<li><a th:href="@{/book/bookList}">View book list</a></li>
							</ul></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/logout}">Sign out</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.js}"></script>
		<script th:src="@{https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js}" referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector: '#description'
			});
		</script>
	</div>
</body>
</html>